<html>
<h1>Le club</h1>

<p>Voici tous les membres du club :</p>
<br>
<% @users.each do |user|%>
  <li>
   <%= user.first_name + " " + user.last_name%>
   <%= link_to("Profile", "/users/#{user.id.to_s}") %>
  </li>
<% end %>
</html>
